<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "rpinetrak">

    <div class="container">
        <div class="lead">
            new track
        </div>


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>name</th>
                    <th>points</th>
                    <th>from</th>
                    <th>to</th>
                    <th>action</th>
                </tr>
                <tr>
                    <td><a href="/assets/tracks/${nmeaFile.name}">${nmeaFile.name}</a></td>
                    <td>${nmeaFile.points}</td>
                    <td>${nmeaFile.from}</td>
                    <td>${nmeaFile.to}</td>
                    <td>
                        <form class="form-inline" action="/track/new" method="post">
                            <div class="form-group form-group-sm">
                                <label class="sr-only" for="from">from</label>
                                <input type="number" class="form-control" id="from" placeholder="from">
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="sr-only" for="to">to</label>
                                <input type="number" class="form-control" id="to" placeholder="to">
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="sr-only" for="dateCorrection">dateCorrection</label>
                                <input type="number" class="form-control" id="dateCorrection" placeholder="YYYYMMDD">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="gpsFixCorrection" value="gpsFixCorrection"> correct GPS
                                    fix
                                </label>
                            </div>
                            <button type="submit" class="btn btn-warning btn-xs">make gpx</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</@layout.myLayout>